<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxh.dao.UserDao">
    <sql id="BaseSql">
        id,name,password
    </sql>

    <select id="getById" parameterType="Integer" resultType="com.lxh.pojo.User">
        select
        <include refid="BaseSql"/>
        from User where id = #{id}
    </select>

</mapper>